
html {
  background-color: #feeada;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;

  /* these are specific to different browsers */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%; 
}

body {
  margin: 0;
  padding: 0;

  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fff9f4;
}


a {
  display: inline-block;
  text-decoration: none;
  color: brown;
}


h2, h3 {
  margin:0;
  padding:0;
  /*padding-bottom:1.5rem;*/
}

form {
  accent-color: hsla(120, 100%, 50%, 0.482);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}


.container {
  margin: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex:1;
}

.header {
  
  padding-top: .2rem;
  padding-left: .2rem;
  padding-right: .2rem;
  padding-bottom: .2rem; 
  
  
}

.header h1 {
  display: block;
  /* this will push other blocks out of the way */

  /* colors */
  background-color: #bfa7b4;
  color: #004724;

  /* shapes */
  border: 3px;
  border-style: ridge;
  border-color: #63A375;
  border-radius: 5px;
  
  font-size: 1.5rem;
  padding: .25rem;
  margin:0; /* removing the margin on h1 tags means the header pins to the top if we move */

  text-align: center;
  /* box-shadows are fancy */
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}


/*
  Rules can be combined on a block to apply the 'cascade' in order
  So you can use two classnames in a single class attribute
  like: <div class="box section">

  Rules may combine in unexpected ways - remember that the LAST thing written in this file will have "priority"
  And will be what displays in your client
*/

.box {
  background-color: rgba(239, 239, 239, 0.40);
  border: 2px groove;
  border-radius: 4px;

  width: fit-content;
  height:fit-content;
  padding: 1.5rem;
  margin: 0 auto;
}

.parksIMG{
  width: 550px;
  height: auto;
}

.global {
  padding: .5rem;
  background-color: rgb(174, 204, 178);
  border: none;
    border-bottom-color: rgb(105, 105, 105);
    border-bottom-style: solid;
}

.boxForJS {
  background-color: rgba(239, 239, 239, 0.40);
  border: 2px solid;
  border-color: darkolivegreen;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  text-align: center;
  height:fit-content;
  padding: .5rem;
  margin: 0 auto;
  font-size: small;
}
.boxForJS img {
  width: 250px;
  height: auto;
  align-self: center;
  border-radius: 15px;
}
.boxNotJS {
  background-color: rgba(239, 239, 239, 0.40);
  border: 2px solid;
  border-color: darkolivegreen;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;
  text-align: center;
  height:fit-content;
  padding: .5rem;
  margin: 0 auto;
  font-size: small;
}
.boxNotJS img {
  width: 250px;
  height: auto;
  align-self: center;
  border-radius: 15px;
}
.right_section {
  
  background-color: #BCD8C1;
  flex: 1 2 auto; 
  margin: 1rem;
  align-items: center;
  
  display: flex;
  flex-flow: column;
  flex-grow: 2;
  
}

.parks_box {
  background-color: #d9ebdc;
  flex: 1 2 auto; 
  margin: .5rem;
  align-items: center;
  border: 1px solid;
  display: flex;
  flex-flow: column;
  flex-grow: 2;
}

.left_section {
 
  background-color: #376D3f;
  flex: 0 1 auto; 
  margin: 1rem;
  padding: 1.5rem;
  
}

.subtitle {
  color: rgba(0, 0, 0, 0.8);
  margin: 0px;
  margin-bottom: 5px;
}


/*Map Stlye*/

#map { 
  display: block;
  height: 380px; 
  width: 400px;
  border: 2px solid rgb(0, 68, 8);
  margin-bottom: 1rem;
}



/*
Form Styles
*/

form input {
    /* This is a hack to make sure our boxes line up with one another nicely */
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;

    /* here we are setting white space correctly */
    margin-bottom: 1rem;
    height: 2rem;
    border-radius: 4px;
  }

form label {
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
  align-items: flex-start;

  display: block; /* this turns the label text into a box we can set margins on */
  margin-bottom: 0.5rem;
}

/* How To Write A Media Query For Small Screens */

@media only screen and (max-width: 736px){
    .box {
      width: inherit;
    }

    .global {
      width: min-content;
    }

    .parksIMG {
      max-width: 100%;
    }

   
    .boxForJS{
      width: inherit;
    }
    .boxNotJS{
      width: -webkit-fill-available;
    }

    .boxNotJS img{
      width: -webkit-fill-available;
    }


    .boxForJS img {
      width: -webkit-fill-available;
    }
    .container {
      
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .left_section {
      
      flex: 0 1 auto; 
      margin: 1rem;
      padding: 1.5rem;
      display: flex;
      flex-flow: column;
      align-items: stretch;
      width: -webkit-fill-available;
      flex-grow: inherit;
    }
    
    .right_section {
      
      flex: 1 0 auto; 
      margin: 1rem;
      align-items: baseline;
      
      display: flex;
      flex-flow: column;
      align-items: stretch;
      width: -webkit-fill-available;
    }
    .parks_box {
      width: -webkit-fill-available;
    }

    #map {
      width: -webkit-fill-available;
    }

  
}
.global_nav {
  align-items: left;
  display: flex;
  margin: 1rem;

}

* {
  box-sizing: border-box;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis_hidden {
    display: hidden;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
  .chart_container {
    height: 100%;
    width: 100%;
  }

  .unique {
    border-style: solid;
    border-color: #376D3f;
  }

  .parkNameFont {
    font-size: large;
    font-weight: bolder;
  }

  .parkDescriptionFormatting {
    text-align: justify;
  }

  hr {
    border-top: 1px solid rgb(120, 120, 120);
  }
  .right_section_box {
    border: solid;
    border-color: black;
  }